/* debug */
.debug-box {
    background-color: green;
    width: 100%;
    height: 200px;
}

[class^=col-] {
    border: 1px solid black;
    min-height: 200px;
}
/* RESET */
img {
    max-width: 100%;
}

/* COMMON */
/* layout */
.ms-smaller-container-bottom {
    width: 70%;
}

/* star styling */
.ms-star span {
    display: inline-block;
    vertical-align: middle;
}
.ms-line {
    width: 17%;
    border-bottom: 0.2rem solid white;
}

/* HEADER */
.ms-header {
    height: var(--header-height);
    background-color: var(--header-blue);
}

/* HERO */
.ms-hero {
    padding-top: var(--header-height);
    background-color: var(--hero-green);
}

.ms-hero-img img {
    display: block;
    width: 50%;
}

/* PORTFOLIO */
.ms-portfolio {
    /* debug */
    background-color: red;
}

/* ABOUT */
.ms-about {
    /* debug */
    background-color: blue;
}
/* debug */
.ms-about .col-12 {
    height: 100%;
}

/* CONTACT */
.ms-contact {
    /* debug */
    background-color: red;
}

/* SOCIALS */
.ms-socials {
    background-color: var(--socials-blue);
}

/* FOOTER */
.ms-footer {
    background-color: var(--header-blue);
}