/* RESET */
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* COMMON */
/* layout */
.ms-smaller-container-bottom {
    width: 70%;
}

/* star styling */
.ms-star span {
    display: inline-block;
    vertical-align: middle;
}

.ms-line {
    width: 15%;
    border-radius: 5px;
}

.ms-line-white {
    border-bottom: 0.2rem solid white;
}

.ms-line-black {
    border-bottom: 0.2rem solid black;
}

/* HEADER */
.ms-header {
    height: var(--header-height);
    background-color: var(--header-blue);
}

/* HERO */
.ms-hero {
    padding-top: var(--header-height);
    background-color: var(--hero-green);
}

.ms-hero-img img {
    display: block;
    width: 50%;
}

/* PORTFOLIO */
.ms-portfolio-img img {
    border-radius: 10px;
}

/* ABOUT */
.ms-about {
    background-color: var(--hero-green);
}

.ms-about-bottom {
    gap: 10px;
}

.ms-about-download a {
    border: 1px solid white;
    border-radius: 5px;
}

/* CONTACT */

/* SOCIALS */
.ms-socials {
    background-color: var(--socials-blue);
}

.ms-socials h4 {
    font-size: 1rem;
}

.ms-socials a,span {
    font-size: 0.9rem;
}

/* FOOTER */
.ms-footer {
    background-color: var(--header-blue);
}

.ms-footer span{
    font-size: 0.7rem;
}