:root {
    /* colors */
    --header-blue: #2C3E50;
    --socials-blue: #3A546D;
    --hero-green: #1ABC9C;
    --card-1-bg: #BA4B63;
    --card-2-bg: #1EA4B6;
    --card-3-bg: #140F0F;
    --card-4-bg: #1C83C1;
    --card-5-bg: #0E38B5;
    --card-6-bg: #CCB2A3;
    /* heights */
    --header-height: 65px;
}

