:root {
    /* colors */
    --header-blue: #2C3E50;
    --socials-blue: #3A546D;
    --hero-green: #1ABC9C;
    /* heights */
    --header-height: 65px;
}

.ms-green-text{
    color: var(--hero-green);
}