/* CUSTOM PROPERTIES */
:root {
    /* colors */
    --header-blue: #2C3E50;
    --socials-blue: #3A546D;
    --hero-green: #1ABC9C;
    /* heights */
    --header-height: 80px;
}

/* COLORS */
/* text */
.ms-green-text {
    color: var(--hero-green);
}

/* bg */
.ms-green-bg {
    background-color: var(--hero-green);
}
